/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.move001 {
    animation-name: move001;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.move002 {
    animation-name: move002;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.move003 {
    animation-name: move003;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cell_right0 {
    animation-name: cell_right0;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cell_right1 {
    animation-name: cell_right1;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cell_right2 {
    animation-name: cell_right2;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cell_left0 {
    animation-name: cell_left0;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cell_left1 {
    animation-name: cell_left1;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.cell_left2 {
    animation-name: cell_left2;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
.show_modal {
    box-shadow: 0 1px 3px 0 rgba(0.5, 0.5, 0.5, 0.5), 0 1px 2px 0 rgba(0.5, 0.5, 0.5, 0.5);
    animation-name: show_modal;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
.hide_modal {
    box-shadow: 0 1px 3px 0 rgba(0.5, 0.5, 0.5, 0.5), 0 1px 2px 0 rgba(0.5, 0.5, 0.5, 0.5);
    animation-name: hide_modal;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
@keyframes show_modal {
    from {
        bottom: -10%;
    }
    to {
        bottom: 5%;
    }
}
@keyframes hide_modal {
    from {
        bottom: 5%;
    }
    to {
        bottom: -10%;
    }
}
@keyframes move001 {
    from {
        width: 100%;
        height: 0%;
        padding: 1.25rem;
        top: 100%;
        position: absolute;
    }
    to {
        width: 100%;
        height: 100%;
        padding: 1.25rem;
        top: 0%;
        position: absolute;
    }
}
@keyframes move002 {
    from {
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        top: 100%;
    }
    to {
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        top: 0%;
    }
}
@keyframes move003 {
    from {
        bottom: 100%;
    }
    to {
        bottom: 35%;
    }
}
@keyframes cell_right0 {
    from {
        position: absolute;
        left: 35%;
    }
    to {
        position: absolute;
        left: 5%;
    }
}
@keyframes cell_right1 {
    from {
        position: absolute;
        left: 65%;
    }
    to {
        position: absolute;
        left: 35%;
    }
}
@keyframes cell_right2 {
    from {
        position: absolute;
        left: 75%;
    }
    to {
        position: absolute;
        left: 65%;
    }
}
@keyframes cell_left0 {
    from {
        position: absolute;
        right: 75%;
    }
    to {
        position: absolute;
        right: 65%;
    }
}
@keyframes cell_left1 {
    from {
        position: absolute;
        right: 65%;
    }
    to {
        position: absolute;
        right: 35%;
    }
}
@keyframes cell_left2 {
    from {
        position: absolute;
        right: 35%;
    }
    to {
        position: absolute;
        right: 5%;
    }
}